body {
    font-family: Arial, sans-serif;
    margin: 10;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 6em;
    margin: 0;
    animation: fadeInUp 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 1;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

audio {
    display: none;
}

.console-section {
    height: 500px;
    margin-bottom: 500px;
    opacity: 1;
    transform: translate(-700px, 300px);
}

.console-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.header {
    position: relative;
    height: 100vh;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    width: 40%;
    height: auto;
    z-index: 1;
}

.background-video {
    width: 100%;
    height: auto;
    opacity: 0.5;
    z-index: -1;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5));
}

.mario-image-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    z-index: 2;
}

.mario-image-container img {
    width: 100%;
    height: auto;
}

.luigi-image-container {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    z-index: 1;
}

.luigi-image-container img {
    width: 60%;
    height: auto;
}

.mario-image-container img,
.luigi-image-container img {
    animation: popUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 0.2s;
    opacity: 1;
}

.additional-text-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
}

.additional-text {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.volume-control {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    color: #fff;
}

.gif-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 120%;
    transform: translate(0, -50%);
}

#volumeRange {
    width: 80px;
}

#marioGif {
    width: 200px;
    height: auto;
}

@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        left: 120%; /* Adjust the starting position off-screen */
    }
    to {
        left: 200%;
    }
}